
.slider{
    width: 100%;
    height: 350px;
    position:absolute;
}
.hinhanh p{
    top:50px;
}
.hinhanh{
    height: 350px;
}
.formp{
    width: 80%;
    height: 150px;
    background-color: #b0b1b5;
    position: relative;
    left: 100px;
    opacity: 0.4;
    padding-top: 70px;
}